In [41]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [42]:
data = pd.read_csv('../data/data_globant.csv')

In [43]:
data.head()

,Date,Email,Name,Position,Seniority,Location,Studio,Client,Client Tag,Project,Project Tag,Team Name,Engagement,Email Leader,Year,Month,Day
0,02Jan23,natalia.ramirez@tec.globant.com,Natalia Ramírez,Software Developer,Jr,CO/ANT/MED,Engineering,GreenWave Innovations,GWI001,Atlas Initiative,ATLINT,Breaking Badger,3.04,laura.leon@tec.globant.com,2023,1,2
1,03Jan23,natalia.ramirez@tec.globant.com,Natalia Ramírez,Software Developer,Jr,CO/ANT/MED,Engineering,GreenWave Innovations,GWI001,Atlas Initiative,ATLINT,Breaking Badger,2.99,laura.leon@tec.globant.com,2023,1,3
2,04Jan23,natalia.ramirez@tec.globant.com,Natalia Ramírez,Software Developer,Jr,CO/ANT/MED,Engineering,GreenWave Innovations,GWI001,Atlas Initiative,ATLINT,Breaking Badger,2.97,laura.leon@tec.globant.com,2023,1,4
3,05Jan23,natalia.ramirez@tec.globant.com,Natalia Ramírez,Software Developer,Jr,CO/ANT/MED,Engineering,GreenWave Innovations,GWI001,Atlas Initiative,ATLINT,Breaking Badger,2.75,laura.leon@tec.globant.com,2023,1,5
4,06Jan23,natalia.ramirez@tec.globant.com,Natalia Ramírez,Software Developer,Jr,CO/ANT/MED,Engineering,GreenWave Innovations,GWI001,Atlas Initiative,ATLINT,Breaking Badger,3.15,laura.leon@tec.globant.com,2023,1,6

In [44]:
data.value_counts()

Date     Email                            Name             Position                  Seniority   Location      Studio               Client                 Client Tag  Project              Project Tag  Team Name                     Engagement  Email Leader                     Year  Month  Day
01Feb23  alberto.bravo@tec.globant.com    Alberto Bravo    Data Analyst              Ssr         AR/CABA/BA    Data                 EduSmart Systems       EDUSYS      Catalyst Program     CATPRO       Star Wars: The Furry Awakens  4.21        pedro.rodriguez@tec.globant.com  2023  2      1      1
         alberto.sanchez@tec.globant.com  Alberto Sánchez  Software Developer        Sr Level 1  CO/CUN/BOG    Engineering          EduSmart Systems       EDUSYS      Vanguard Initiative  VGRDIN       The Matrix Mice               3.50        carlos.ortega@tec.globant.com    2023  2      1      1
         ana.aguayo@tec.globant.com       Ana Aguayo       Business Analyst          Ssr         MX/CDMX/CDMX  Product              GreenWave Innovations  GWI001      Atlas Initiative     ATLINT       Breaking Badger               2.46        valeria.diaz@tec.globant.com     2023  2      1      1
         ana.paredes@tec.globant.com      Ana Paredes      Quality Assurance Tester  Sr Level 1  MX/CDMX/CDMX  Quality Engineering  GreenWave Innovations  GWI001      Atlas Initiative     ATLINT       Breaking Badger               2.96        valeria.diaz@tec.globant.com     2023  2      1      1
         ana.ponce@tec.globant.com        Ana Ponce        Test Automation Engineer  Ssr         CL/RM/SCL     Quality Engineering  EcoBuild Enterprises   EBEPRI      Odyssey Quest        ODYQST       Paws and Recreation           3.89        valeria.ponce@tec.globant.com    2023  2      1      1
                                                                                                                                                                                                                                                                                                       ..
8May23   laura.bravo@tec.globant.com      Laura Bravo      DevOps Engineer           Sr Level 1  CO/ANT/MED    Cloud Ops            EcoBuild Enterprises   EBEPRI      Serenity Project     STYPRJ       The Lion Kingpin              3.06        juan.aguirre@tec.globant.com     2023  5      8      1
9Feb23   laura.bravo@tec.globant.com      Laura Bravo      DevOps Engineer           Sr Level 1  CO/ANT/MED    Cloud Ops            EcoBuild Enterprises   EBEPRI      Serenity Project     STYPRJ       The Lion Kingpin              2.60        juan.aguirre@tec.globant.com     2023  2      9      1
9Jun23   laura.bravo@tec.globant.com      Laura Bravo      DevOps Engineer           Sr Level 1  CO/ANT/MED    Cloud Ops            EcoBuild Enterprises   EBEPRI      Serenity Project     STYPRJ       The Lion Kingpin              2.78        juan.aguirre@tec.globant.com     2023  6      9      1
9Mar23   laura.bravo@tec.globant.com      Laura Bravo      DevOps Engineer           Sr Level 1  CO/ANT/MED    Cloud Ops            EcoBuild Enterprises   EBEPRI      Serenity Project     STYPRJ       The Lion Kingpin              2.98        juan.aguirre@tec.globant.com     2023  3      9      1
9May23   laura.bravo@tec.globant.com      Laura Bravo      DevOps Engineer           Sr Level 1  CO/ANT/MED    Cloud Ops            EcoBuild Enterprises   EBEPRI      Serenity Project     STYPRJ       The Lion Kingpin              2.53        juan.aguirre@tec.globant.com     2023  5      9      1
Name: count, Length: 10226, dtype: int64

In [45]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11366 entries, 0 to 11365
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          11366 non-null  object
 1   Email         11366 non-null  object
 2   Name          11366 non-null  object
 3   Position      11366 non-null  object
 4   Seniority     11366 non-null  object
 5   Location      11366 non-null  object
 6   Studio        11366 non-null  object
 7   Client        11366 non-null  object
 8   Client Tag    11366 non-null  object
 9   Project       11366 non-null  object
 10  Project Tag   11366 non-null  object
 11  Team Name     11366 non-null  object
 12  Engagement    11366 non-null  float64
 13  Email Leader  10226 non-null  object
 14  Year          11366 non-null  int64
 15  Month         11366 non-null  int64
 16  Day           11366 non-null  int64
dtypes: float64(1), int64(3), object(13)
memory usage: 1.5+ MB

In [46]:
# value_count de columna 'Email' para aquellos cuyo 'Email Leader' sea nulo
data[data['Email Leader'].isnull()]['Email'].value_counts()

Email
carlos.ortega@tec.globant.com      131
cristian.bravo@tec.globant.com     126
pedro.rodriguez@tec.globant.com    126
ana.salas@tec.globant.com          126
alberto.cordero@tec.globant.com    126
juan.aguirre@tec.globant.com       126
alberto.ramirez@tec.globant.com    126
miguel.sandoval@tec.globant.com    106
ana.gomez@tec.globant.com           87
valeria.diaz@tec.globant.com        23
laura.leon@tec.globant.com          20
ricardo.fuentes@tec.globant.com     11
valeria.ponce@tec.globant.com        6
Name: count, dtype: int64

In [47]:
data['Email Leader'].value_counts()

Email Leader
miguel.sandoval@tec.globant.com    1311
alberto.ramirez@tec.globant.com    1175
carlos.ortega@tec.globant.com      1138
juan.aguirre@tec.globant.com       1009
ana.salas@tec.globant.com          1004
valeria.ponce@tec.globant.com       915
pedro.rodriguez@tec.globant.com     907
alberto.cordero@tec.globant.com     882
cristian.bravo@tec.globant.com      757
ana.gomez@tec.globant.com           630
valeria.diaz@tec.globant.com        245
laura.leon@tec.globant.com          176
ricardo.fuentes@tec.globant.com      77
Name: count, dtype: int64

In [48]:
# Juntar columnas Email y Name en un solo identificador (que vaya de 0 a n), y que ese identificador concuerde con un identificador en 'Email Leader' y 'Name Leader'
unique_emails = data["Email"].unique()
email_to_id = {email: idx for idx, email in enumerate(unique_emails)}

data["ID"] = data["Email"].map(email_to_id)
data["Leader_ID"] = data["Email Leader"].map(email_to_id)

data = data.drop(columns=["Email", "Name", "Email Leader"])

In [49]:
# base de datos donde 'Email Leader' es nulo
data_leader = data[data['Leader_ID'].isnull()]
data_leader.drop(columns=['Leader_ID'], inplace=True)
data_leader.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1140 entries, 1049 to 10992
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         1140 non-null   object
 1   Position     1140 non-null   object
 2   Seniority    1140 non-null   object
 3   Location     1140 non-null   object
 4   Studio       1140 non-null   object
 5   Client       1140 non-null   object
 6   Client Tag   1140 non-null   object
 7   Project      1140 non-null   object
 8   Project Tag  1140 non-null   object
 9   Team Name    1140 non-null   object
 10  Engagement   1140 non-null   float64
 11  Year         1140 non-null   int64
 12  Month        1140 non-null   int64
 13  Day          1140 non-null   int64
 14  ID           1140 non-null   int64
dtypes: float64(1), int64(4), object(10)
memory usage: 142.5+ KB

C:\Users\GustavoAguilar\AppData\Local\Temp\ipykernel_22944\4263192201.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_leader.drop(columns=['Leader_ID'], inplace=True)

In [50]:
data.dropna(inplace=True)

In [51]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10226 entries, 0 to 11365
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         10226 non-null  object
 1   Position     10226 non-null  object
 2   Seniority    10226 non-null  object
 3   Location     10226 non-null  object
 4   Studio       10226 non-null  object
 5   Client       10226 non-null  object
 6   Client Tag   10226 non-null  object
 7   Project      10226 non-null  object
 8   Project Tag  10226 non-null  object
 9   Team Name    10226 non-null  object
 10  Engagement   10226 non-null  float64
 11  Year         10226 non-null  int64
 12  Month        10226 non-null  int64
 13  Day          10226 non-null  int64
 14  ID           10226 non-null  int64
 15  Leader_ID    10226 non-null  float64
dtypes: float64(2), int64(4), object(10)
memory usage: 1.3+ MB