In [98]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [99]:
data = pd.read_csv('../data/data_globant.csv')

In [100]:
data.shape

(11366, 17)

In [101]:
data.head()

,Date,Email,Name,Position,Seniority,Location,Studio,Client,Client Tag,Project,Project Tag,Team Name,Engagement,Email Leader,Year,Month,Day
0,02Jan23,natalia.ramirez@tec.globant.com,Natalia Ramírez,Software Developer,Jr,CO/ANT/MED,Engineering,GreenWave Innovations,GWI001,Atlas Initiative,ATLINT,Breaking Badger,3.04,laura.leon@tec.globant.com,2023,1,2
1,03Jan23,natalia.ramirez@tec.globant.com,Natalia Ramírez,Software Developer,Jr,CO/ANT/MED,Engineering,GreenWave Innovations,GWI001,Atlas Initiative,ATLINT,Breaking Badger,2.99,laura.leon@tec.globant.com,2023,1,3
2,04Jan23,natalia.ramirez@tec.globant.com,Natalia Ramírez,Software Developer,Jr,CO/ANT/MED,Engineering,GreenWave Innovations,GWI001,Atlas Initiative,ATLINT,Breaking Badger,2.97,laura.leon@tec.globant.com,2023,1,4
3,05Jan23,natalia.ramirez@tec.globant.com,Natalia Ramírez,Software Developer,Jr,CO/ANT/MED,Engineering,GreenWave Innovations,GWI001,Atlas Initiative,ATLINT,Breaking Badger,2.75,laura.leon@tec.globant.com,2023,1,5
4,06Jan23,natalia.ramirez@tec.globant.com,Natalia Ramírez,Software Developer,Jr,CO/ANT/MED,Engineering,GreenWave Innovations,GWI001,Atlas Initiative,ATLINT,Breaking Badger,3.15,laura.leon@tec.globant.com,2023,1,6

In [102]:
data.value_counts()

Date     Email                            Name             Position                  Seniority   Location      Studio               Client                 Client Tag  Project              Project Tag  Team Name                     Engagement  Email Leader                     Year  Month  Day
01Feb23  alberto.bravo@tec.globant.com    Alberto Bravo    Data Analyst              Ssr         AR/CABA/BA    Data                 EduSmart Systems       EDUSYS      Catalyst Program     CATPRO       Star Wars: The Furry Awakens  4.21        pedro.rodriguez@tec.globant.com  2023  2      1      1
         alberto.sanchez@tec.globant.com  Alberto Sánchez  Software Developer        Sr Level 1  CO/CUN/BOG    Engineering          EduSmart Systems       EDUSYS      Vanguard Initiative  VGRDIN       The Matrix Mice               3.50        carlos.ortega@tec.globant.com    2023  2      1      1
         ana.aguayo@tec.globant.com       Ana Aguayo       Business Analyst          Ssr         MX/CDMX/CDMX  Product              GreenWave Innovations  GWI001      Atlas Initiative     ATLINT       Breaking Badger               2.46        valeria.diaz@tec.globant.com     2023  2      1      1
         ana.paredes@tec.globant.com      Ana Paredes      Quality Assurance Tester  Sr Level 1  MX/CDMX/CDMX  Quality Engineering  GreenWave Innovations  GWI001      Atlas Initiative     ATLINT       Breaking Badger               2.96        valeria.diaz@tec.globant.com     2023  2      1      1
         ana.ponce@tec.globant.com        Ana Ponce        Test Automation Engineer  Ssr         CL/RM/SCL     Quality Engineering  EcoBuild Enterprises   EBEPRI      Odyssey Quest        ODYQST       Paws and Recreation           3.89        valeria.ponce@tec.globant.com    2023  2      1      1
                                                                                                                                                                                                                                                                                                       ..
8May23   laura.bravo@tec.globant.com      Laura Bravo      DevOps Engineer           Sr Level 1  CO/ANT/MED    Cloud Ops            EcoBuild Enterprises   EBEPRI      Serenity Project     STYPRJ       The Lion Kingpin              3.06        juan.aguirre@tec.globant.com     2023  5      8      1
9Feb23   laura.bravo@tec.globant.com      Laura Bravo      DevOps Engineer           Sr Level 1  CO/ANT/MED    Cloud Ops            EcoBuild Enterprises   EBEPRI      Serenity Project     STYPRJ       The Lion Kingpin              2.60        juan.aguirre@tec.globant.com     2023  2      9      1
9Jun23   laura.bravo@tec.globant.com      Laura Bravo      DevOps Engineer           Sr Level 1  CO/ANT/MED    Cloud Ops            EcoBuild Enterprises   EBEPRI      Serenity Project     STYPRJ       The Lion Kingpin              2.78        juan.aguirre@tec.globant.com     2023  6      9      1
9Mar23   laura.bravo@tec.globant.com      Laura Bravo      DevOps Engineer           Sr Level 1  CO/ANT/MED    Cloud Ops            EcoBuild Enterprises   EBEPRI      Serenity Project     STYPRJ       The Lion Kingpin              2.98        juan.aguirre@tec.globant.com     2023  3      9      1
9May23   laura.bravo@tec.globant.com      Laura Bravo      DevOps Engineer           Sr Level 1  CO/ANT/MED    Cloud Ops            EcoBuild Enterprises   EBEPRI      Serenity Project     STYPRJ       The Lion Kingpin              2.53        juan.aguirre@tec.globant.com     2023  5      9      1
Name: count, Length: 10226, dtype: int64

In [103]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11366 entries, 0 to 11365
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          11366 non-null  object
 1   Email         11366 non-null  object
 2   Name          11366 non-null  object
 3   Position      11366 non-null  object
 4   Seniority     11366 non-null  object
 5   Location      11366 non-null  object
 6   Studio        11366 non-null  object
 7   Client        11366 non-null  object
 8   Client Tag    11366 non-null  object
 9   Project       11366 non-null  object
 10  Project Tag   11366 non-null  object
 11  Team Name     11366 non-null  object
 12  Engagement    11366 non-null  float64
 13  Email Leader  10226 non-null  object
 14  Year          11366 non-null  int64
 15  Month         11366 non-null  int64
 16  Day           11366 non-null  int64
dtypes: float64(1), int64(3), object(13)
memory usage: 1.5+ MB

In [104]:
data['DateDT'] = pd.to_datetime(data['Date'], format='%d%b%y')
data.head()

,Date,Email,Name,Position,Seniority,Location,Studio,Client,Client Tag,Project,Project Tag,Team Name,Engagement,Email Leader,Year,Month,Day,DateDT
0,02Jan23,natalia.ramirez@tec.globant.com,Natalia Ramírez,Software Developer,Jr,CO/ANT/MED,Engineering,GreenWave Innovations,GWI001,Atlas Initiative,ATLINT,Breaking Badger,3.04,laura.leon@tec.globant.com,2023,1,2,2023-01-02
1,03Jan23,natalia.ramirez@tec.globant.com,Natalia Ramírez,Software Developer,Jr,CO/ANT/MED,Engineering,GreenWave Innovations,GWI001,Atlas Initiative,ATLINT,Breaking Badger,2.99,laura.leon@tec.globant.com,2023,1,3,2023-01-03
2,04Jan23,natalia.ramirez@tec.globant.com,Natalia Ramírez,Software Developer,Jr,CO/ANT/MED,Engineering,GreenWave Innovations,GWI001,Atlas Initiative,ATLINT,Breaking Badger,2.97,laura.leon@tec.globant.com,2023,1,4,2023-01-04
3,05Jan23,natalia.ramirez@tec.globant.com,Natalia Ramírez,Software Developer,Jr,CO/ANT/MED,Engineering,GreenWave Innovations,GWI001,Atlas Initiative,ATLINT,Breaking Badger,2.75,laura.leon@tec.globant.com,2023,1,5,2023-01-05
4,06Jan23,natalia.ramirez@tec.globant.com,Natalia Ramírez,Software Developer,Jr,CO/ANT/MED,Engineering,GreenWave Innovations,GWI001,Atlas Initiative,ATLINT,Breaking Badger,3.15,laura.leon@tec.globant.com,2023,1,6,2023-01-06

In [105]:
# value_count de columna 'Email' para aquellos cuyo 'Email Leader' sea nulo
data[data['Email Leader'].isnull()]['Email'].value_counts()

Email
carlos.ortega@tec.globant.com      131
cristian.bravo@tec.globant.com     126
pedro.rodriguez@tec.globant.com    126
ana.salas@tec.globant.com          126
alberto.cordero@tec.globant.com    126
juan.aguirre@tec.globant.com       126
alberto.ramirez@tec.globant.com    126
miguel.sandoval@tec.globant.com    106
ana.gomez@tec.globant.com           87
valeria.diaz@tec.globant.com        23
laura.leon@tec.globant.com          20
ricardo.fuentes@tec.globant.com     11
valeria.ponce@tec.globant.com        6
Name: count, dtype: int64

In [106]:
data['Email Leader'].value_counts()

Email Leader
miguel.sandoval@tec.globant.com    1311
alberto.ramirez@tec.globant.com    1175
carlos.ortega@tec.globant.com      1138
juan.aguirre@tec.globant.com       1009
ana.salas@tec.globant.com          1004
valeria.ponce@tec.globant.com       915
pedro.rodriguez@tec.globant.com     907
alberto.cordero@tec.globant.com     882
cristian.bravo@tec.globant.com      757
ana.gomez@tec.globant.com           630
valeria.diaz@tec.globant.com        245
laura.leon@tec.globant.com          176
ricardo.fuentes@tec.globant.com      77
Name: count, dtype: int64

In [107]:
data['Team Name'].value_counts()

Team Name
Jurassic Bark                   1417
The Great Catsby                1301
The Matrix Mice                 1269
Breaking Badger                 1181
The Lion Kingpin                1135
Game of Tones                   1130
Star Wars: The Furry Awakens    1033
Paws and Recreation             1009
Finding Nemo's Friends          1008
Fight Club Penguin               883
Name: count, dtype: int64

In [108]:
#verificar en que TEams hay cuantos leaders unicos
data.groupby('Team Name')['Email Leader'].nunique()

Team Name
Breaking Badger                 3
Fight Club Penguin              1
Finding Nemo's Friends          1
Game of Tones                   1
Jurassic Bark                   1
Paws and Recreation             2
Star Wars: The Furry Awakens    1
The Great Catsby                1
The Lion Kingpin                1
The Matrix Mice                 1
Name: Email Leader, dtype: int64

In [109]:
# ver a que team pertenece cada leader
data[['Email Leader', 'Team Name']].drop_duplicates().sort_values(by='Team Name')

                          Email Leader                     Team Name
0           laura.leon@tec.globant.com               Breaking Badger
22        valeria.diaz@tec.globant.com               Breaking Badger
41           ana.gomez@tec.globant.com               Breaking Badger
1049                               NaN               Breaking Badger
1179                               NaN            Fight Club Penguin
1305    cristian.bravo@tec.globant.com            Fight Club Penguin
2062   alberto.cordero@tec.globant.com        Finding Nemo's Friends
2314                               NaN        Finding Nemo's Friends
3070                               NaN                 Game of Tones
3198         ana.salas@tec.globant.com                 Game of Tones
3535   miguel.sandoval@tec.globant.com                 Jurassic Bark
4555                               NaN                 Jurassic Bark
4610     valeria.ponce@tec.globant.com           Paws and Recreation
4206   ricardo.fuentes@tec.globant.com           Paws and Recreation
4209                               NaN           Paws and Recreation
5068   pedro.rodriguez@tec.globant.com  Star Wars: The Furry Awakens
8164                               NaN  Star Wars: The Furry Awakens
8344                               NaN              The Great Catsby
5605   alberto.ramirez@tec.globant.com              The Great Catsby
7476      juan.aguirre@tec.globant.com              The Lion Kingpin
10813                              NaN              The Lion Kingpin
7590                               NaN               The Matrix Mice
7618     carlos.ortega@tec.globant.com               The Matrix Mice

In [110]:
# Juntar columnas Email y Name en un solo identificador (que vaya de 0 a n), y que ese identificador concuerde con un identificador en 'Email Leader' y 'Name Leader'
unique_emails = data["Email"].unique()
email_to_id = {email: idx for idx, email in enumerate(unique_emails)}

data["ID"] = data["Email"].map(email_to_id)
data["Leader_ID"] = data["Email Leader"].map(email_to_id)
data.head()


#data = data.drop(columns=["Email", "Name", "Email Leader"])

,Date,Email,Name,Position,Seniority,Location,Studio,Client,Client Tag,Project,Project Tag,Team Name,Engagement,Email Leader,Year,Month,Day,DateDT,ID,Leader_ID
0,02Jan23,natalia.ramirez@tec.globant.com,Natalia Ramírez,Software Developer,Jr,CO/ANT/MED,Engineering,GreenWave Innovations,GWI001,Atlas Initiative,ATLINT,Breaking Badger,3.04,laura.leon@tec.globant.com,2023,1,2,2023-01-02,0,8.0
1,03Jan23,natalia.ramirez@tec.globant.com,Natalia Ramírez,Software Developer,Jr,CO/ANT/MED,Engineering,GreenWave Innovations,GWI001,Atlas Initiative,ATLINT,Breaking Badger,2.99,laura.leon@tec.globant.com,2023,1,3,2023-01-03,0,8.0
2,04Jan23,natalia.ramirez@tec.globant.com,Natalia Ramírez,Software Developer,Jr,CO/ANT/MED,Engineering,GreenWave Innovations,GWI001,Atlas Initiative,ATLINT,Breaking Badger,2.97,laura.leon@tec.globant.com,2023,1,4,2023-01-04,0,8.0
3,05Jan23,natalia.ramirez@tec.globant.com,Natalia Ramírez,Software Developer,Jr,CO/ANT/MED,Engineering,GreenWave Innovations,GWI001,Atlas Initiative,ATLINT,Breaking Badger,2.75,laura.leon@tec.globant.com,2023,1,5,2023-01-05,0,8.0
4,06Jan23,natalia.ramirez@tec.globant.com,Natalia Ramírez,Software Developer,Jr,CO/ANT/MED,Engineering,GreenWave Innovations,GWI001,Atlas Initiative,ATLINT,Breaking Badger,3.15,laura.leon@tec.globant.com,2023,1,6,2023-01-06,0,8.0

In [111]:
data["Email Leader"].unique()

array(['laura.leon@tec.globant.com', 'valeria.diaz@tec.globant.com',
       'ana.gomez@tec.globant.com', nan, 'cristian.bravo@tec.globant.com',
       'alberto.cordero@tec.globant.com', 'ana.salas@tec.globant.com',
       'miguel.sandoval@tec.globant.com',
       'ricardo.fuentes@tec.globant.com', 'valeria.ponce@tec.globant.com',
       'pedro.rodriguez@tec.globant.com',
       'alberto.ramirez@tec.globant.com', 'juan.aguirre@tec.globant.com',
       'carlos.ortega@tec.globant.com'], dtype=object)

In [112]:
data['ID'].value_counts().sort_index()

ID
0     116
1     135
2     135
3     134
4     134
     ...
89    126
90     95
91    126
92    126
93     40
Name: count, Length: 94, dtype: int64

In [113]:
dl = data.groupby(["ID", "Date"]).filter(lambda g: g["Location"].nunique() > 1)
#dl.to_csv("../data/data_dup.csv", index=False)

In [114]:

df = data.copy()

max_id = df["ID"].max()
new_id = max_id + 1

# Recorremos por cada ID original
for id_val, sub in df.groupby("ID"):
    # 1) Buscamos fechas donde ese ID tenga MÁS de una Location distinta
    conflict_flags = (
        sub.groupby("Date")["Location"]
           .nunique()
           .gt(1)                      # >1 location en esa fecha
    )

    if not conflict_flags.any():
        # Este ID nunca tuvo misma fecha con múltiples locations → transferencia válida, no tocamos nada
        continue

    # 2) Fechas conflictivas (mismo ID, misma fecha, distintas locations)
    conflict_dates = conflict_flags[conflict_flags].index

    # 3) Locations que aparecen en esas fechas conflictivas
    locs_in_conflict = sub[sub["Date"].isin(conflict_dates)]["Location"].unique()

    # 4) Elegimos una location "base" que se queda con el ID original.
    #    Puedes cambiar la regla si quieres (ej. la más reciente, la de cierto país, etc.)
    base_loc = (
        sub[sub["Location"].isin(locs_in_conflict)]["Location"]
           .value_counts()
           .idxmax()
    )

    # 5) Para el resto de locations conflictivas, reasignamos ID en TODAS SUS FECHAS
    for loc in locs_in_conflict:
        if loc == base_loc:
            continue  # esta se queda con el ID original

        mask = (df["ID"] == id_val) & (df["Location"] == loc)
        df.loc[mask, "ID"] = new_id
        new_id += 1

# df ahora respeta:
# - transferencias (cambio de location a lo largo del tiempo) -> MISMO ID
# - anomalías (misma fecha, distintas locations) -> IDs separados

In [115]:
data['ID'].value_counts().sort_index()

ID
0     116
1     135
2     135
3     134
4     134
     ...
89    126
90     95
91    126
92    126
93     40
Name: count, Length: 94, dtype: int64

In [116]:
df['ID'].value_counts().sort_index()

ID
0     116
1     135
2     135
3     134
4     134
     ...
91    126
92    126
93     40
94    126
95     92
Name: count, Length: 96, dtype: int64

In [117]:
df.to_csv("../data/data_global_clean.csv", index=False)

In [118]:
data_test = df[df['ID']==95]
data_test.head()

,Date,Email,Name,Position,Seniority,Location,Studio,Client,Client Tag,Project,Project Tag,Team Name,Engagement,Email Leader,Year,Month,Day,DateDT,ID,Leader_ID
9400,20Feb23,sergio.castro@tec.globant.com,Sergio Castro,Technology Consultant,Sr Level 2,MX/CDMX/CDMX,Engineering,EduSmart Systems,EDUSYS,Catalyst Program,CATPRO,Jurassic Bark,2.56,miguel.sandoval@tec.globant.com,2023,2,20,2023-02-20,95,43.0
9401,21Feb23,sergio.castro@tec.globant.com,Sergio Castro,Technology Consultant,Sr Level 2,MX/CDMX/CDMX,Engineering,EduSmart Systems,EDUSYS,Catalyst Program,CATPRO,Jurassic Bark,1.92,miguel.sandoval@tec.globant.com,2023,2,21,2023-02-21,95,43.0
9402,22Feb23,sergio.castro@tec.globant.com,Sergio Castro,Technology Consultant,Sr Level 2,MX/CDMX/CDMX,Engineering,EduSmart Systems,EDUSYS,Catalyst Program,CATPRO,Jurassic Bark,2.38,miguel.sandoval@tec.globant.com,2023,2,22,2023-02-22,95,43.0
9403,23Feb23,sergio.castro@tec.globant.com,Sergio Castro,Technology Consultant,Sr Level 2,MX/CDMX/CDMX,Engineering,EduSmart Systems,EDUSYS,Catalyst Program,CATPRO,Jurassic Bark,2.17,miguel.sandoval@tec.globant.com,2023,2,23,2023-02-23,95,43.0
9404,24Feb23,sergio.castro@tec.globant.com,Sergio Castro,Technology Consultant,Sr Level 2,MX/CDMX/CDMX,Engineering,EduSmart Systems,EDUSYS,Catalyst Program,CATPRO,Jurassic Bark,1.95,miguel.sandoval@tec.globant.com,2023,2,24,2023-02-24,95,43.0

In [119]:
# base de datos donde 'Email Leader' no es nulo
data_no_leaders = df[df['Leader_ID'].notnull()]
data_no_leaders.to_csv("../data/data_no_leaders.csv", index=False)
data_no_leaders.head()

,Date,Email,Name,Position,Seniority,Location,Studio,Client,Client Tag,Project,Project Tag,Team Name,Engagement,Email Leader,Year,Month,Day,DateDT,ID,Leader_ID
0,02Jan23,natalia.ramirez@tec.globant.com,Natalia Ramírez,Software Developer,Jr,CO/ANT/MED,Engineering,GreenWave Innovations,GWI001,Atlas Initiative,ATLINT,Breaking Badger,3.04,laura.leon@tec.globant.com,2023,1,2,2023-01-02,0,8.0
1,03Jan23,natalia.ramirez@tec.globant.com,Natalia Ramírez,Software Developer,Jr,CO/ANT/MED,Engineering,GreenWave Innovations,GWI001,Atlas Initiative,ATLINT,Breaking Badger,2.99,laura.leon@tec.globant.com,2023,1,3,2023-01-03,0,8.0
2,04Jan23,natalia.ramirez@tec.globant.com,Natalia Ramírez,Software Developer,Jr,CO/ANT/MED,Engineering,GreenWave Innovations,GWI001,Atlas Initiative,ATLINT,Breaking Badger,2.97,laura.leon@tec.globant.com,2023,1,4,2023-01-04,0,8.0
3,05Jan23,natalia.ramirez@tec.globant.com,Natalia Ramírez,Software Developer,Jr,CO/ANT/MED,Engineering,GreenWave Innovations,GWI001,Atlas Initiative,ATLINT,Breaking Badger,2.75,laura.leon@tec.globant.com,2023,1,5,2023-01-05,0,8.0
4,06Jan23,natalia.ramirez@tec.globant.com,Natalia Ramírez,Software Developer,Jr,CO/ANT/MED,Engineering,GreenWave Innovations,GWI001,Atlas Initiative,ATLINT,Breaking Badger,3.15,laura.leon@tec.globant.com,2023,1,6,2023-01-06,0,8.0

In [120]:
# base de datos donde 'Email Leader' es nulo
data_leaders = df[df['Leader_ID'].isnull()]
data_leaders.drop(columns=["Leader_ID", "Email Leader"], inplace=True)

data_leaders.to_csv("../data/data_leaders.csv", index=False)
data_leaders.head()

,Date,Email,Name,Position,Seniority,Location,Studio,Client,Client Tag,Project,Project Tag,Team Name,Engagement,Year,Month,Day,DateDT,ID
1049,02Jan23,laura.leon@tec.globant.com,Laura León,Project Manager,Sr Level 1,AR/CABA/BA,Delivery,GreenWave Innovations,GWI001,Atlas Initiative,ATLINT,Breaking Badger,3.40,2023,1,2,2023-01-02,8
1050,03Jan23,laura.leon@tec.globant.com,Laura León,Project Manager,Sr Level 1,AR/CABA/BA,Delivery,GreenWave Innovations,GWI001,Atlas Initiative,ATLINT,Breaking Badger,3.45,2023,1,3,2023-01-03,8
1051,04Jan23,laura.leon@tec.globant.com,Laura León,Project Manager,Sr Level 1,AR/CABA/BA,Delivery,GreenWave Innovations,GWI001,Atlas Initiative,ATLINT,Breaking Badger,2.96,2023,1,4,2023-01-04,8
1052,05Jan23,laura.leon@tec.globant.com,Laura León,Project Manager,Sr Level 1,AR/CABA/BA,Delivery,GreenWave Innovations,GWI001,Atlas Initiative,ATLINT,Breaking Badger,3.26,2023,1,5,2023-01-05,8
1053,06Jan23,laura.leon@tec.globant.com,Laura León,Project Manager,Sr Level 1,AR/CABA/BA,Delivery,GreenWave Innovations,GWI001,Atlas Initiative,ATLINT,Breaking Badger,2.56,2023,1,6,2023-01-06,8